extends layout

block content
  - var isAuthed = false, isMember = false;
  - if (typeof profile !== 'undefined') {
  -   isAuthed = typeof profile.username !== 'undefined' && typeof profile.photo !== 'undefined';
  -   isMember = typeof profile.member !== 'undefined' ? profile.member : false;
  - }

  h1 #{title}
  div
    if (isAuthed)
      p Welcome, #{profile.username}
      img#profile(src='#{profile.photo}')
    else
      button(onclick='location.href="/login"')
        i.icon-github-sign login with Github

  div
    form(action='/checkout', method='post')
      if (isMember)
        input(type='submit', value='checkout')
      div amazon.co.jp
        ul
          each item in amazon
            li
              a(href='#{item.href}') #{item.title}
              if (isMember)
                input(type='checkbox', name='#{item.title}', value='#{item.isbn}')

      div oreilly.co.jp
        ul
          each item in oreilly
            li
              a(href='#{item.href}') #{item.title}
              if (isMember)
                input(type='checkbox', name='#{item.title}', value='#{item.isbn}')

      div computerbook.jp
        ul
          each item in computerbookjp
            li
              a(href='#{item.href}') #{item.title}
              if (isMember)
                input(type='checkbox', name='#{item.title}', value='#{item.isbn}')
