extends layout

block content
  a(href='https://github.com/stoshiya/bookcatalog')
    img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt='Fork me on GitHub')

  h1 #{title}
  div
    - var login = typeof profile !== 'undefined' && typeof profile.username !== 'undefined' && typeof profile.photo !== 'undefined'
    - if (login)
      span
        img#photo(src='#{profile.photo}')
      span#username #{profile.username}
      span
        button(onclick='location.href="/logout"')
          i.icon-signout  Sign out
    - else
      span
        button(onclick='location.href="/login"')
          i.icon-github-sign  Sign in with Github

  section amazon.co.jp
    - each item in amazon
      div.checkable
        - if (item.registered)
          i.icon-check-sign.icon-large(data-isbn='#{item.isbn}', data-publisher='#{item.publisher}')
        - else
          i.icon-check-empty.icon-large(data-isbn='#{item.isbn}', data-publisher='#{item.publisher}')
        a(href='#{item.href}', target='_blank') #{item.title}

  section oreilly.co.jp
    - each item in oreilly
      div.checkable
        - if (item.registered)
          i.icon-check-sign.icon-large(data-isbn='#{item.isbn}', data-publisher='#{item.publisher}')
        - else
          i.icon-check-empty.icon-large(data-isbn='#{item.isbn}', data-publisher='#{item.publisher}')
        a(href='#{item.href}', target='_blank') #{item.title}

  section computerbook.jp
    - each item in computerbookjp
      div.checkable
        - if (item.registered)
          i.icon-check-sign.icon-large(data-isbn='#{item.isbn}', data-publisher='#{item.publisher}')
        - else
          i.icon-check-empty.icon-large(data-isbn='#{item.isbn}', data-publisher='#{item.publisher}')
        a(href='#{item.href}', target='_blank') #{item.title}

  - if (login && profile.member)
    button#output
      i.icon-print.icon-large

  div#selected
    pre

  script(src='/javascripts/index.js')
