extends layout

block content
  h1 #{title}
  div
    if (typeof profile !== 'undefined' && typeof profile.username !== 'undefined' && typeof profile.photo !== 'undefined')
      p Welcome, #{profile.username}
      img#profile(src='#{profile.photo}')
    else
      button(onclick='location.href="/login"')
        i.icon-github-sign login with Github


  div amazon.co.jp
    ul
      each item in amazon
        li
          a(href='#{item.href}') #{item.title}

  div oreilly.co.jp
    ul
      each item in oreilly
        li
          a(href='#{item.href}') #{item.title}

  div computerbook.jp
    ul
      each item in computerbookjp
        li
          a(href='#{item.href}') #{item.title}
