div.checkable
  - if (item.registered)
    i.fa.fa-lg.fa-check-square(data-isbn='#{item.isbn}', data-publisher='#{item.publisher}')
  - else
    i.fa.fa-lg.fa-square-o(data-isbn='#{item.isbn}', data-publisher='#{item.publisher}')
  a(href='#{item.href}', target='_blank') #{item.title}
